*{
    font-family: 'Lora', serif;
}
html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(228, 228, 228);
}
.container {
    display: flex;
}
.menu-left {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color: white;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}
.header {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 10vh;
    background-color: rgb(180, 180, 180);
    color: rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    z-index: 1;
}
.main {
    position: relative;
    left: 25%;
    margin: 5rem;
    color: rgb(43, 43, 43);
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75vw;
}

.section .sobre {
    min-height: 100vh;
}
.section .contato {
    min-height: 75vh;
}